.genres-index {
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: column; */
  flex-wrap: wrap
}

.genre-card {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 200px;
}

.genre-card__title {
  color: rgb(74, 147, 74);
  font-size: small;
  padding: 5px;
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.genre-card:hover {
  text-decoration: none;
  background-color: rgb(228, 249, 187);
} 